---
- name: Ensure database is created
  community.postgresql.postgresql_db:
    name: "{{ pretalx_db_name }}"

- name: Create database user and ensure the user access to the database
  community.postgresql.postgresql_user:
    db: "{{ pretalx_db_name }}"
    name: "{{ pretalx_db_user }}"
    priv: ALL

- name: Ensure user does not have unnecessary privileges
  community.postgresql.postgresql_user:
    name: "{{ pretalx_db_user }}"
    role_attr_flags: NOSUPERUSER,NOCREATEDB
