---
- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  listen: Restart pretalx serivces

- name: Restart pretalx
  ansible.builtin.service:
    name: "{{ item }}"
    state: restarted
    enabled: true
  loop:
    - pretalx_web
    - pretalx_worker
    - pretalx_web.socket
  listen: Restart pretalx serivces
